.bg-grad {
  background-image: linear-gradient(90deg, blue, violet);
  padding: 5px;
}
.fa-solid {
  color: rgb(255, 255, 255);
}
.shadow{
  margin-bottom: 40px;
}
.primary-color{
  color: blue;
}
.stop-writing{
  background-image: url(../../assets/img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}